<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bam.Net" version="1.9.1" targetFramework="net472" />
  <package id="Bam.Net.Data" version="1.9.1" targetFramework="net472" />
  <package id="Bam.Net.Drawing" version="1.9.1" targetFramework="net472" />
  <package id="Bam.Net.Encryption" version="1.9.1" targetFramework="net472" />
  <package id="Bam.Net.Incubation" version="1.9.1" targetFramework="net472" />
  <package id="Bam.Net.ServiceProxy" version="1.9.1" targetFramework="net472" />
  <package id="Bam.Net.Yaml" version="1.9.1" targetFramework="net472" />
  <package id="Dirkster.ColorPickerLib" version="1.6.2" targetFramework="net472" />
  <package id="Dirkster.NumericUpDownLib" version="2.4.2" targetFramework="net472" />
  <package id="Highrock.Syris485" version="1.0.9" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
</packages>